# Importing the main libraries to work with in this project

In [1]:
import pandas as pd
import datetime as dt

In [2]:
from pandas_datareader import data

# Getting Microsoft Stock Prices

In [3]:
stocks = data.DataReader(name = "MSFT", data_source="stooq", start= "2020-01-01", end = "2022-12-31")

# Dataframe overview

In [4]:
stocks.head()

              Open    High       Low   Close      Volume
Date
2022-12-30  238.21  239.96  236.6600  239.82  21938472.0
2022-12-29  235.65  241.92  235.6500  241.01  19770693.0
2022-12-28  236.89  239.72  234.1700  234.53  17457104.0
2022-12-27  238.70  238.93  235.8300  236.96  16688648.0
2022-12-23  236.11  238.87  233.9428  238.73  21206982.0

# Adding Necessary Date Parameters

In [5]:
stocks.reset_index(inplace = True)

In [6]:
stocks["Month Name"] = stocks["Date"].dt.month_name()

In [7]:
stocks["Day Name"] = stocks["Date"].dt.day_name()

In [8]:
stocks.sort_values(by = "Date", inplace = True)

In [9]:
stocks["Week"] = stocks["Date"].dt.week

C:\Users\Hp\AppData\Local\Temp\ipykernel_3140\4082194573.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  stocks["Week"] = stocks["Date"].dt.week

In [10]:
stocks["Quarter"] = stocks["Date"].dt.quarter

In [11]:
stocks["Day"] = stocks["Date"].dt.day

In [12]:
stocks["Month"] = stocks["Date"].dt.month

# Exporting to CSV

In [13]:
stocks.to_csv("stocks.csv")